@media screen and (max-width: 900px) {
    .resume__header h1 {
        text-align: center;
        font-size: 24px;
    }
    p {
        text-align: justify;
        font-size: 16px;
    }
    .background__wrapper {
        max-width: 90vw;
        padding: 20px;
    }
    .side__panel {
        width: 100%; /* Боковая панель на всю ширину экрана */
        margin-bottom: 20px; /* Добавляем отступ между боковой панелью и содержанием */
    }
    .blog__content {
        width: 100%; /* Область содержания на всю ширину экрана */
    }
}

@media screen and (max-width: 450px) {
    .image__wrapper {
        display: none;
    }
    .background__wrapper {
        min-width: 250px;
    }
    .resume__header h1 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}
